################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TaskPlannerMetrum/obj
/TaskPlannerMetrum/bin
/Logger/obj
/Logger/bin
/.vs
